@inherits LayoutComponentBase



    <div class="main">
        <div class="navbar">
            <a class="navbar-brand" href="#">
                <img src="img/logo.png" alt="XEN Test" width="100" height="100">
            </a>
        </div>

        <div class="content px-4 mt-2">
            @Body
        </div>
    </div>